DB_PATH=../web_app/database/database.sqlite

RAPIDAPI_KEY=
RAPIDAPI_HOST=sofascore6.p.rapidapi.com
RAPIDAPI_BASE_URL=https://sofascore6.p.rapidapi.com/api/sofascore/v1

FIXTURES_IMPORT_MODE=production
FIXTURES_DEMO_DATE_SHIFT_DAYS=14