DB_PATH=../web_app/database/database.sqlite

# --- STARE API ---
#X_RAPIDAPI_KEY=
#X_RAPIDAPI_HOST=sofascore.p.rapidapi.com

# --- NOWE API ---
RAPIDAPI_KEY=
RAPIDAPI_HOST=sofascore6.p.rapidapi.com
RAPIDAPI_BASE_URL=https://sofascore6.p.rapidapi.com/api/sofascore/v1